@import "variables";
@import "title-and-legend";
@import "tooltip";

/* MAIN */
@mixin positioning($position) {
  top: $position;
  left: $position;
  -moz-transform: translateX(-$position) translateY(-$position);
  -webkit-transform: translateX(-$position) translateY(-$position);
  transform: translateX(-$position) translateY(-$position);
}

svg {
  position: absolute;
  @include positioning(50%);
}

.graph {
  font-family: $main-font;
  margin: 0 auto;
  background-color: white;
}

.county {
  stroke: black;
  stroke-opacity: 0.1;

  &:hover {
    cursor: pointer;
    stroke: red;
    stroke-width: 1;
    stroke-opacity: 1;
  }
}

@media (max-width: 500px) {
  #tooltip {
    width: 50px;
    font-size: 0.6em;
  }
}
