@import "variables";
@import "title-and-legend";
@import "tooltip";

/* MAIN */
// body {
//   position: fixed;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   margin: 0;
//   font-family: $main-font;
// }

.graph {
  font-family: $main-font;
  margin: 0 auto;
  border: 1px solid magenta;
}

.county {
  stroke: black;
  stroke-opacity: 0.1;

  &:hover {
    cursor: pointer;
    stroke: red;
    stroke-width: 1;
    stroke-opacity: 1;
  }
}
